.interior-page {
  background: $blue;
  border: 10px solid $white;
}

.home-page {
  background: $orange;
  border: 10px solid $white;
}

.page-content {
  padding: 0 60px;
  margin: 50px auto 0;
  max-width: 960px;
}

.how-it-works__list {
  @include clearfix;
}

.how-it-works__list-item {
  float: left;
  width: 100%;
  margin: 0 0 30px;

  &:last-child {
    margin-bottom: 0;
  }

  > h3 {
    @extend .sans-18-semibold;
    color: $white;
  }

  > p {
    @extend .sans-18-medium;
    color: $white;
    opacity: 0.8;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}