body {
  font-family: "freight-sans-pro";
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.sans-14-medium-uppercase {
  font-family: "freight-sans-pro";
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (max-width: 479px) {
    font-size: 12px;
  }
}

.sans-18-regular {
  font-family: "freight-sans-pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  @media (max-width: 479px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.sans-18-medium {
  font-family: "freight-sans-pro";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  @media (max-width: 479px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.sans-18-semibold {
  font-family: "freight-sans-pro";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  @media (max-width: 479px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.sans-18-bold {
  font-family: "freight-sans-pro";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  @media (max-width: 479px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.sans-48-bold {
  font-family: "freight-sans-pro";
  font-weight: 700;
  font-size: 48px;
  line-height: 24px;

  @media (max-width: 479px) {
    font-size: 16px;
    line-height: 20px;
  }
}